.stool{



 display: flex; 



justify-content: center;

margin-top: 50px;

}

.stool input{

    width: 280px;

    height: 45px;

    border-radius: 10px  0px 0px  10px;

    padding-top: 2px;

    border-style:  solid;

}









.stool img{

 width: 50px;

 height: 50px;

 background-color: rgb(156, 156, 156);

 border-radius: 0px  10px 10px  0px;

 padding: 1px 1px;

 margin-top: 0.2px;

}





.adg{

  width: 300px;

 height: 200px;

margin-top: 20px;

margin-left: 20px;

 background-color: rgba(0, 0, 0, 0.7);

 border-radius: 10px;

}

 .container {

            width: 100%;

            overflow-x: auto;

            white-space: nowrap;

            border: 2px solid #ccc;

            padding: 10px;

            border: none;

            margin-left: -10px;

        }

        .color-box {

            display: inline-block;

            width: 150px;

            height: 150px;

            margin-right: 10px;

            border-radius: 10px;

        }

        .color- {

          background-color: grey; 

          

        }

        

        .bar{

          display: flex;

          background-color: black;

          position: fixed;

          padding: 20px 10px;

          margin-left: -55px;

          width: 400px;

        }

    .ic{

      width: 35px;

      margin-left: 60px;

    }

    
